.creadors {
  background-image: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
}

.creadors-heading {
  color: white;
  max-width: 522px;
  font-size: 36px;
  text-align: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 51px;
  padding-bottom: 25px;
}

.creadors-line {
  width: 56px;
  height: 2px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.creadors-about {
  display: flex;
  flex-wrap: nowrap;
}
.creadors-name {
  color: rgb(255, 255, 255);
}

.creadors-work {
  color: rgba(255, 255, 255, 0.85);
}

.about-creadors {
  padding-top: 90px;
  padding-bottom: 50px;
  padding-left: 140px;
  display: flex;
}
.creadors-img {
  display: inline-block;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.creadors-about-name {
  display: flex;
  margin: 10px;
}

.creadors-say {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-left: 110px;
  max-width: 420px;
  font-size: 19px;
  margin-bottom: 92px;
  margin-top: 77px;
  color: rgba(255, 255, 255, 0.9);
}
