.section-header {
  margin-bottom: 75px;
}

.section-title {
  margin: 0;
  text-align: center;
  font-style: 36px;
  margin-bottom: 26px;
}

.section-line {
  width: 56px;
  height: 2px;
  margin: 0 auto 33px auto;
}

.section-subtitle {
  margin: 0 auto;
  text-align: center;
  max-width: 952px;
}

.our-services-list {
  justify-content: space-between;
  list-style-type: none;
  margin: 0 -18;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 58px;
}

.our-services-list li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 18;
  width: 350px;
  padding: 45px 35px;
  background-color: white;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}

.our-services-list li img {
  margin-bottom: 22px;
  height: 95px;
  width: 70px;
}

.our-services-list li h3 {
  margin: 0;
  margin-bottom: 12px;
}

.our-services-list li p {
  margin: 0;
}

.our-services-btn-wrapper {
  display: flex;
  justify-content: center;
}
